body
{
  color: rgb(0, 0, 0);
  background: #0051ff;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}
#img{
  width: 50%;
  height:50%;
}
#para{
  color: rgb(0, 255, 64);
}
#para1{
  color: rgb(208, 255, 0);
}
